### Install pandas

In [ ]:
!pip install pandas

In [ ]:
!pip install openpyxl

### Import pandas

In [1]:
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,.0f}'.format

### Import data from a file into Pandas DataFrame

In [3]:
df = pd.read_excel("./data/advworksdata.xlsx")

In [4]:
type(df)

pandas.core.frame.DataFrame

### Examine Data ( Check, Columns, Cells, Headers, Rename Columns)

In [5]:
df.empty

False

In [6]:
df.head()
# df.head(10) -- first 10 datas

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

In [7]:
df.tail()
#df.tail(10)

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
60875,Clothing,Shorts,"Women's Mountain Shorts, L",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,209,127,8,336
60876,Clothing,Shorts,"Women's Mountain Shorts, L",Southeast,United States,Miami,Florida,Stephanie Conroy,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,157,95,6,252
60877,Clothing,Shorts,"Women's Mountain Shorts, M",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,79,47,3,126
60878,Clothing,Shorts,"Women's Mountain Shorts, S",Southeast,United States,Decatur,Georgia,Pamela Cox,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,131,79,5,210
60879,Clothing,Shorts,"Women's Mountain Shorts, S",Southeast,United States,Miami,Florida,Stephanie Conroy,Tsvi Reiter,1,2014-05-01,26,42,0,0,70,79,47,3,126

In [8]:
df.shape

(60880, 20)

In [9]:
df.columns

Index(['productcategory', 'productsubcategory', 'product', 'saleterritory',
       'Country', 'City', 'Sate', 'Customer', 'Employee', 'OrderCount',
       'OrderDate', 'StandardCost', 'UnitPrice', 'UnitPriceDiscount',
       'Discount', 'ListPrice', 'SaleswithStandard', 'NetSales',
       'OrderQuantity', 'Sales'],
      dtype='object')

In [10]:
# Rename columns with rename function
df = df.rename(columns={"productcategory": "Category", "saleterritory": "Territory", "productsubcategory": "Sub-Category", 
                        "OrderQuantity": "Quantity", "OrderDate": "Date", "Sate": "State"})
df.head(5)

,Category,Sub-Category,product,Territory,Country,City,State,Customer,Employee,OrderCount,Date,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,Quantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,7,5,0,1,9,97,-28,14,69
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10,15,0,0,25,62,28,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,125,57,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,16,21,0,17,38,251,67,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,16,23,0,0,38,110,50,7,160

### How to get columns and rows?

In [11]:
df['product']
# df['product'][0:3]

0                      AWC Logo Cap
1                        Cable Lock
2             Full-Finger Gloves, L
3             Full-Finger Gloves, L
4             Full-Finger Gloves, M
                    ...
60875    Women's Mountain Shorts, L
60876    Women's Mountain Shorts, L
60877    Women's Mountain Shorts, M
60878    Women's Mountain Shorts, S
60879    Women's Mountain Shorts, S
Name: product, Length: 60880, dtype: object

In [12]:
df[['Category','product']][0:5]

      Category                product
0     Clothing           AWC Logo Cap
1  Accessories             Cable Lock
2     Clothing  Full-Finger Gloves, L
3     Clothing  Full-Finger Gloves, L
4     Clothing  Full-Finger Gloves, M

In [13]:
# limit columns from dataframe
df = df[['Category','Sub-Category', 'product','Date', 'ListPrice','Quantity','Sales']]
df

,Category,Sub-Category,product,Date,ListPrice,Quantity,Sales
0,Clothing,Caps,AWC Logo Cap,2012-06-30,9,14,69
1,Accessories,Locks,Cable Lock,2012-06-30,25,6,90
2,Clothing,Gloves,"Full-Finger Gloves, L",2012-06-30,38,8,182
3,Clothing,Gloves,"Full-Finger Gloves, L",2012-06-30,38,16,318
4,Clothing,Gloves,"Full-Finger Gloves, M",2012-06-30,38,7,160
...,...,...,...,...,...,...,...
60875,Clothing,Shorts,"Women's Mountain Shorts, L",2014-05-01,70,8,336
60876,Clothing,Shorts,"Women's Mountain Shorts, L",2014-05-01,70,6,252
60877,Clothing,Shorts,"Women's Mountain Shorts, M",2014-05-01,70,3,126
60878,Clothing,Shorts,"Women's Mountain Shorts, S",2014-05-01,70,5,210
60879,Clothing,Shorts,"Women's Mountain Shorts, S",2014-05-01,70,3,126

In [14]:
df.dtypes

Category                object
Sub-Category            object
product                 object
Date            datetime64[ns]
ListPrice              float64
Quantity                 int64
Sales                  float64
dtype: object

In [15]:
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
df['ListPrice'] = df['ListPrice'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

### Handling missing values and data conversion

In [17]:
# Check for NULL values 
df.isnull().any()

Category         True
Sub-Category     True
product          True
Date            False
ListPrice        True
Quantity        False
Sales           False
dtype: bool

In [18]:
# Get total of missing values 
df.isnull().sum()

Category        39
Sub-Category    39
product         39
Date             0
ListPrice       39
Quantity         0
Sales            0
dtype: int64

In [19]:
# filling null values 
df['Category'].fillna("Unknown",inplace = True)
df.isnull().sum()

Category         0
Sub-Category    39
product         39
Date             0
ListPrice       39
Quantity         0
Sales            0
dtype: int64

In [20]:
# filling null values 
df['Sub-Category'].fillna("Unknown",inplace = True)
df.isnull().sum()

Category         0
Sub-Category     0
product         39
Date             0
ListPrice       39
Quantity         0
Sales            0
dtype: int64

In [21]:
# filling null values 
df['ListPrice'].fillna(0,inplace = True)
df.isnull().sum()

Category         0
Sub-Category     0
product         39
Date             0
ListPrice        0
Quantity         0
Sales            0
dtype: int64

In [22]:
df['ListPrice'] = df['ListPrice'].astype(int)
df.dtypes

Category                object
Sub-Category            object
product                 object
Date            datetime64[ns]
ListPrice                int64
Quantity                 int64
Sales                  float64
dtype: object

### Data Stats (unique, sum, count)

In [23]:
# Get distinct values of column
df.Category.unique()
# df['Category'].unique()

array(['Clothing', 'Accessories', 'Components', 'Bikes', 'Unknown'],
      dtype=object)

In [24]:
# Get total for a numeric column
df.Sales.sum()

80487704.17918801

In [25]:
# Get total count -- same as number of rows
df.Quantity.count()

60880